<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Getting Started: Serving Web Content</title>
	<head th:include="template :: head"  th:remove="tag"></head>
</head>
<body>
<div id="wrap">
	<div th:replace="template :: navbar"></div>
	<div class="container">
		<div class="page-header">
			<h1>Greeting</h1>
		</div>
		<p th:text="'Hello, ' + ${name} + '!'" />
	</div>
</div>
	<div th:include="template :: footer"></div>
	<div th:include="template :: script" th:remove="tag"></div>
</body>
</html>
